
  <ion-content>

  
   <ion-row *ngFor="let item of object; let i=index">
    <ion-col size="12">
      <ion-button expand="block" id="tickets" (click)="eliminarCompra(item.pagoid)">
        <ion-icon id="icons" slot="start" src="./../../assets/icon/003-tickets.svg"></ion-icon>
        <ion-col>
            <ion-row>
              <p style="margin-top: 15px;">{{item.titulo}}</p>
            </ion-row>
            <ion-row>
              <p style="font-size:x-small; margin-top: -10px;">{{item.horario}}</p>
            </ion-row>
          </ion-col>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

  

